
:root{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px rgba(0, 0, 0,.1);
    --primary-color:rgba(247,111,115,255);
    --secondary-color:rgba(217,217,217,255) ;
    --tertiary-color:rgb(255, 221, 227);
    --bonus-margin:16px;
}

body{
  margin:0px;
}


h1 {
    border-radius: 0px;
    background-color: var(--primary-color);
    margin-top:0px;
    padding:15px;
    padding-left:40px;
    /* display: flex;
    flex-direction: row; */
    
  }

  button {
    margin: 5px;
    background-color: var(--tertiary-color);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color:black;
    border-radius:5px;
    font-weight: bold;
  }